---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout title="Welcome to SpawnPoint.">
	<main>
        <h1 class="text-sm">SpawnPoint</h1>
        <h1 class="text-base">SpawnPoint</h1>
        <h1 class="text-xl">SpawnPoint</h1>
        <h1 class="text-2xl">SpawnPoint</h1>
        <h1 class="text-3xl">SpawnPoint</h1>
        <h1 class="text-4xl">SpawnPoint</h1>
        <h1 class="text-5xl">SpawnPoint</h1>
	</main>
</Layout>

<style>

</style>
