---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import { Button } from "@/components/ui/button"
import { Input } from "@/components/ui/input"
import Footer from "../components/Footer.astro";
import Badges from "../components/Badges.astro";
import Card from "../components/Card.astro";
import { recommendedGames, upcomingReleases, topRatedGames } from "../components/data/games";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Welcome to SpawnPoint.">
    <main class="bg-neutral-900 text-white">
        <Navbar />
        <section class="flex justify-center mt-8">
            <Input placeholder="Buscar juegos..." className="w-1/2" />
            <Button className="ml-4 bg-slate-50 text-black">Buscar</Button>
        </section>

        <Badges/>

        <section class="mt-12 px-8">
            <h2 class="text-3xl font-semibold mb-6 hover:text-slate-500 cursor-pointer">Juegos Recomendados</h2>
            <Card games={recommendedGames} />
        </section>

        <section class="mt-12 px-8">
            <h2 class="text-3xl font-semibold mb-6 hover:text-slate-500 cursor-pointer">Próximos Lanzamientos</h2>
            <Card games={upcomingReleases} />
        </section>

        <section class="mt-12 px-8">
            <h2 class="text-3xl font-semibold mb-6 hover:text-slate-500 cursor-pointer">Juegos Mejor Calificados</h2>
            <Card games={topRatedGames} />
        </section>

        <Footer />
    </main>
</Layout>