---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout title="Política de Privacidad">
    <main class="bg-neutral-900 text-white p-8">
        <section class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold mb-6 text-white">Política de Privacidad</h1>
            <p class="mb-4">
                ¡Bienvenido a nuestra página de Política de Privacidad! Cuando usas los servicios de nuestro sitio web, confías en nosotros con tu información. Esta Política de Privacidad está destinada a ayudarte a entender qué datos recopilamos, por qué los recopilamos y qué hacemos con ellos. Esto es importante; esperamos que te tomes el tiempo para leerlo detenidamente.
            </p>
            <h2 class="text-2xl font-semibold mb-4 text-white">Información que Recopilamos</h2>
            <p class="mb-4">
                Recopilamos información para proporcionar mejores servicios a todos nuestros usuarios. Recopilamos información de las siguientes maneras:
            </p>
            <ul class="list-disc list-inside mb-4">
                <li>Información que nos das. Por ejemplo, nuestros servicios requieren que te registres para obtener una cuenta. Cuando lo haces, te pediremos información personal, como tu nombre, dirección de correo electrónico, número de teléfono o tarjeta de crédito.</li>
                <li>Información que obtenemos de tu uso de nuestros servicios. Recopilamos información sobre los servicios que usas y cómo los usas, como cuando visitas un sitio web que utiliza nuestros servicios de publicidad o ves e interactúas con nuestros anuncios y contenido.</li>
            </ul>
            <h2 class="text-2xl font-semibold mb-4 text-white">Cómo Usamos la Información que Recopilamos</h2>
            <p class="mb-4">
                Usamos la información que recopilamos de todos nuestros servicios para proporcionar, mantener, proteger y mejorar los mismos, para desarrollar otros nuevos y para proteger a nuestros usuarios. También usamos esta información para ofrecerte contenido personalizado, como darte resultados de búsqueda y anuncios más relevantes.
            </p>
            <h2 class="text-2xl font-semibold mb-4 text-white">Transparencia y Elección</h2>
            <p class="mb-4">
                Las personas tienen diferentes preocupaciones sobre la privacidad. Nuestro objetivo es ser claros sobre qué información recopilamos, para que puedas tomar decisiones significativas sobre cómo se utiliza.
            </p>
            <h2 class="text-2xl font-semibold mb-4 text-white">Información que Compartes</h2>
            <p class="mb-4">
                Muchos de nuestros servicios te permiten compartir información con otros. Recuerda que cuando compartes información públicamente, puede ser indexada por motores de búsqueda. Nuestros servicios te proporcionan diferentes opciones sobre compartir y eliminar tu contenido.
            </p>
            <h2 class="text-2xl font-semibold mb-4 text-white">Acceder y Actualizar tu Información Personal</h2>
            <p class="mb-4">
                Siempre que uses nuestros servicios, nuestro objetivo es proporcionarte acceso a tu información personal. Si esa información es incorrecta, nos esforzamos por darte formas de actualizarla rápidamente o eliminarla, a menos que necesitemos mantener esa información por razones legítimas de negocios o legales.
            </p>
            <h2 class="text-2xl font-semibold mb-4 text-white">Información que Compartimos</h2>
            <p class="mb-4">
                No compartimos información personal con empresas, organizaciones e individuos fuera de nuestra compañía, a menos que se aplique una de las siguientes circunstancias:
            </p>
            <ul class="list-disc list-inside mb-4">
                <li>Con tu consentimiento</li>
                <li>Para procesamiento externo</li>
                <li>Por razones legales</li>
            </ul>
            <h2 class="text-2xl font-semibold mb-4 text-white">Cambios</h2>
            <p class="mb-4">
                Nuestra Política de Privacidad puede cambiar de vez en cuando. No reduciremos tus derechos bajo esta Política de Privacidad sin tu consentimiento explícito. Publicaremos cualquier cambio en la política de privacidad en esta página y, si los cambios son significativos, proporcionaremos un aviso más prominente (incluyendo, para ciertos servicios, notificación por correo electrónico de los cambios en la política de privacidad).
            </p>
        </section>
    </main>
</Layout>