---
const platforms = ['PlayStation', 'Xbox', 'PC', 'Nintendo'];
---

<div class="flex justify-center mt-12 gap-2">
    {platforms.map(platform => (
            <span class="badge bg-white text-black px-3 py-1 rounded-full">
            {platform}
        </span>
    ))}
</div>