---
---

<footer class="bg-neutral-900 text-white py-4">
    <div class="container mx-auto text-center">
        <p class="text-sm text-slate-100">&copy; 2023 SpawnPoint. All rights reserved.</p>
        <div class="mt-2">
            <a href="/privacy" class="text-gray-400 hover:text-white mx-2">Privacy Policy</a>
            <a href="/terms" class="text-gray-400 hover:text-white mx-2">Terms of Service</a>
            <a href="/contact" class="text-gray-400 hover:text-white mx-2">Contact Us</a>
        </div>
    </div>
</footer>