---

---
<header class="py-5 bg-gray-800 text-center">
    <nav class="mt-4">
        <a href="/" class="text-white">Inicio</a>
        <a href="/tendencias" class="text-white ml-4">Tendencias</a>
        <a href="/reservas" class="text-white ml-4">Reservas</a>
    </nav>
</header>